.my-orders {
  margin: 50px 0px;
}

.my-orders h2 {
  text-align: center;
  margin-bottom: 20px;
}

.my-orders-order {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
  gap: 30px;
  align-items: center;
  padding: 20px;
  margin: 20px 0px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
}

.my-orders-order img {
  width: 50px;
}

.my-orders-order p {
  margin: 0px;
  font-size: 14px;
  color: #555;
}

.my-orders-order p span {
  color: tomato;
}

.my-orders-order button {
  padding: 12px 0px;
  border: none;
  background-color: #ffe1e1;
  color: #454545;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
}

@media (max-width: 900px) {
  .my-orders-order {
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
  }

  .my-orders-order img {
    margin: auto;
  }

  .my-orders-order button {
    margin: auto;
  }
}